@charset "utf-8";

/**
 * CSS Reset from "http: //meyerweb.com/eric/tools/css/reset/"
 * v2.0 | 20110126
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * Main Style
 */

body {
	background: #E7EBF2;
	font-size: 12px; 
	line-height: 1.4;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.container {
	width: 901px;
	margin: 20px auto;
}

a, a:visited {
	color: #3B5998;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.timeline {
	background: url(img/line.png) top repeat-y;
	list-style: none;
	padding: 0;
	margin: 50px 0;
	position: relative;
}

.timeline > li {
	float: left;
	clear: left;
	width: 436px;
	margin-bottom: 50px;
	position: relative;
	z-index: 2;
}

.timeline > .right {
	float: right;
	clear: right;
}

.timeline .pointer {
	background: url(img/icons-4.png) -41px -28px no-repeat;
	width: 19px;
	height: 15px;
	position: absolute;
	right: -18px;
	top: 30px;
}

.timeline .right > .pointer {
	left: -18px;
	right: auto;
	background-position: -61px -28px;
}

.timeline > .left + .right > .pointer {
	top: 60px;
}

.timeline > .right + .left > .pointer {
	top: 60px;
}

.timeline .spine {
	position: absolute;
	left: 436px;
	width: 29px;
	height: 100%;
	z-index: 1;
}

.timeline .spine > a,
.timeline .spine a:visited {
	display: block;
	height: 100%;
}

.content {
	background: #fff;
	padding: 10px 10px 10px 10px;
	border: 1px #C4CDE0 solid;
	border-radius: 3px;
}

.avatar {
	position: absolute;
	top: -24px;
	left: -24px;
	width: 48px;
	height: 48px;
	padding: 5px;
	border: 1px solid #ABABAB;
	border-radius: 100px;
	background: #F9F9F9;
}

.right .avatar {
	left: auto;
	right: -24px;
}

.avatar img {
	width: 48px;
	height: 48px;
	border-radius: 100px;
}

.tweet {
	margin-bottom: 10px;
	padding: 0 0 0 30px;
	font-size: 16px;
	word-wrap: break-word; 
	word-break: normal; 
}

.right .tweet {
	padding: 0 30px 0 0;
}

.photo {
	margin-bottom: 10px;
}

.photo img {
	max-width: 416px;
}

.meta {
	padding: 5px 10px;
	font-size: 12px;
	background: #EDEFF4;
	overflow: hidden;
}

.meta .time {
	float: left;
}

.meta .source {
	float: right;
}

.controls {
	background: #F2F2F2;
	margin: 5px -5px -5px -5px;
	list-style: none;
	padding: 4px;
	border-top: 1px #E6E6E6 solid;
}

.controls > li {
	display: inline-block;
}

.controls .post {
	float: right;
}

#Spinner {
	text-align: center;
	padding: 10px 0;
}

.retweeted {
	display: block;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 24px;
	height: 24px;
	background: url(img/retweet.png) no-repeat 0 0;
}

.right .retweeted {
	left: 1px;
	right: auto;
	background-position: -24px 0;
}